{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
  <header class="nav"> 
    <img src="https://x-clone-65o2.onrender.com/static/img/X_logo.jpeg" alt="x-img" class="logo">
    <h1> Home</h1>
  </header>
  <section class="post_form">
    <form action="/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Enter your name" required /> <br>
      <textarea name="body" placeholder="Tell us anything" required></textarea> <br>
      <input type="file" name="image"><br>
      <input type="submit" value="Post" />
    </form>
  </section>
  <section class="posts">
 
      {% for post in posts %}
      <li>
        <img class="menu_icon js-menu-icon"  src="https://icon-library.com/images/3-dot-icon/3-dot-icon-0.jpg" width="30px"/>
        <div class="menu">
          <a href="/delete/{{ post.id}}/">Delete</a>
          <br>
          <a href="/edit/{{ post.id}}/">Edit</a>
        </div>
        <div class="logo">

            <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-webpage-small-icon/user-244.png" />

        </div>
        
        <div class="name_body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at}}</div>
          <p>{{ post.body }}</p>
         {%if post.image%}
           <img src="{{post.image.url}}" alt="Post-Image" width="100%" style="object-fit: contain;margin: 0 auto;">
          {%endif%}
          <p><a href="/like/{{post.id}}/" style="text-decoration: none;">❤️</a> {{post.likes}}</p>
        </div>
      </li>
      {% endfor %}

  </section>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <script src="{% static 'js/post.js' %}"></script> 

  </section>

{% endblock %}
